/*
    RESET
*/
* { margin: 0; padding: 0; }
.clear { clear: both; }
img, a img { border: none; }
input { outline: 0; }

/*
    STRUCTURE
*/
body { font: 14px/1.1 Helvetica, Sans-Serif; overflow-x:hidden; }
#page-wrap { width: 960px; margin: 6px auto 50px; position: relative; }
hr { height: 1px; background: #ccc; clear: both; margin: 20px 0; border: none; display: block; }
#logo {position: absolute;left: -10px;top:50px;border-bottom-style: none;
        border-bottom-width: 0px;}
a#forget {border-bottom-style: none;
        border-bottom-width: 0px;}
#bg{position: relative;left: 100px; }

/*
    TYPOGRAPHY
*/
a  { text-decoration: none; color: #900; border-bottom: 1px dotted #900; outline: none; }
h1 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; }
h2 { margin: 0 0 10px 0; }
p { margin: 0 0 6px 0; }
.button { background: url(/images/button-bg.png) repeat-x; -moz-border-radius: 5px; padding: 6px 12px; border: none; color: white; cursor: pointer; text-shadow: 0 1px 1px #666; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px #999; font: bold 16px Helvetica; }
.button:hover { background-position: bottom left; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }
#signup {background-image: url(images/signup.png);
        display:block;
        background-repeat: no-repeat;
        position:absolute;
        top: 12px;
        left:900px;
        top:-6px;
        height:70px;
        width:120px;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
#signup:hover {background-image: url(images/signuphover.png);
        display:block;
        background-repeat: no-repeat;
        position: absolute;
        height:75px;
        width:120px;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
#login {background-image: url(images/login.png);
        display:block;
        background-repeat: no-repeat;
        position: absolute;
        left: 810px;
        top:-8px;
        height:75px;
        width:120px;
        border: 0;
        
}
#login:hover {background-image: url(images/loginhover.png);
        display:block;
        background-repeat: no-repeat;
        position: absolute;
        height:75px;
        width:120px;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
.logout {background-image: url(images/logout.png);
        display:block;
        background-repeat: no-repeat;
        position: absolute;
        left: 825px;
        top:-9px;
        height:75px;
        width:120px;
        border: 0;
        
}
.logout:hover {background-image: url(images/logouthover.png);
        display:block;
        background-repeat: no-repeat;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
.account {background-image: url(images/account.png);
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        left: 910px;
        top: -9px;
        height:75px;
        width:120px;
        border: 0;
        
}
.account:hover {background-image: url(images/accounthover.png);
        display:block;
        background-repeat: no-repeat;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
.home {background-image: url(images/home.png);
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        left: 995px;
        top: -9px;
        height:75px;
        width:120px;
        border: 0;
        
}
.home:hover {background-image: url(images/homehover.png);
        display:block;
        background-repeat: no-repeat;
        border-bottom-style: none;
        border-bottom-width: 0px;
}
#inputlogin { position: relative; left:-20px;}
#inputlogin:hover { background-image: url(images/loginhover.png);}
#register {position: relative; left:-25px;}
#register:hover {background-image: url(images/signuphover.png);}
#feedback {background-repeat: no-repeat; position: relative;left: 950px;top: 600px;}
#feedback:hover {background-image: url(images/feedbackhover.png);}
#feedbacklink {border-bottom-style: none;
        border-bottom-width: 0px;}
/*
    HEADER
*/
#header { height: 68px; position: relative; }
#header h1 { position: absolute; top: 0; left: 0; z-index: 2; text-indent: -9999px; overflow: hidden; }
#header h1 a { display: block; text-indent: -9999px; width: 200px; height: 38px; border: none; }
#control { width: 500px; float: right; padding: 10px 237px 0 0; text-align: right; }



/*
    LISTS
*/
#list { list-style: none; }
#list li { position: relative; margin: 0 0 8px 0; padding: 0 0 0 70px; width: 607px; }
#list li span { padding: 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 589px; display: block; position: relative; }
.colorBlue span { background: rgb(52, 81, 142);color: white; }
.colorYellow span { background: rgb(255, 255, 255); }
.colorRed span { background: rgb(187, 49, 47); color: white; }
.colorGreen span { background: rgb(145, 191, 75); }
.tab { background: url(images/minibuttons.png) no-repeat; height: 21px; top: 4px; }
.draggertab { background-image: url(images/drag.png) ; position: absolute; left: -10px; width: 37px; height: 38px; top: -5px; cursor: move; }
.draggertab:hover { background-image: url(images/drag_hover.png); }
.colortab {background-image: url(images/color.png); position: absolute; left: 34px; width: 34px;height: 30px; cursor: pointer; }
.colortab:hover {background-image: url(images/colorhover.png);}
.deletetab {background-image: url(images/delete.png); position: absolute; right: -50px; width: 25px;height: 30px; cursor: pointer; }
.deletetab:hover {background-image: url(images/deletehover.png); }
.donetab {background-image: url(images/tick.png); position: absolute; right: -25px; width: 25px;height: 30px; cursor: pointer; }
.donetab:hover {background-image: url(images/tickhover.png); }
.crossout { position: absolute; top: 50%; left: 0; height: 1px; }

#share-area { margin: 20px 0 0 69px; width: 600px; }


/*
    FORM STUFF
*/
label { background: #999; color: white; padding: 3px; }
input[type="text"], input[type="password"] { width: 324px; border: 3px solid #999; font-size: 18px; padding: 7px; display: block; border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;}                   
#add-new input[type="text"] { width: 532px; float: left; margin: 0 10px 0 69px; }
#add-new input[type="text"]:focus { border-color: #73B8BF; }
#add-new input[type="submit"] { padding: 10px 12px; }

ul#list li span input[style] { width: 90% !important; }


/*
    MESSAGING
*/
.message { padding: 10px; margin: 0 0 10px 0; width: 607px; }
.good { background: #9ff5b6; }
.bad { color: #ef0040; }





